.custom-phone-input-container{
    width: 100% !important;
    height: 48px;
    border: 1px solid rgb(198, 198, 198) !important;
    display: flex;
    align-items: center;
    border-radius: 7px;
}
.custom-phone-input{
    width: 100% !important;
    border: none !important;
}
.custom-flag-button{
    border-radius: 7px 0 0 8px!important;
}